/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6e1f2a !important;
  --toolbarbutton-icon-fill: #a02c3c !important;
  --toolbar-field-color: #d8d3c8 !important;
  --tab-selected-textcolor: #a02c3c !important;
  --toolbar-color: #d8d3c8 !important;
  --arrowpanel-color: #d8d3c8 !important;
  --arrowpanel-background: #14141b !important;
  --sidebar-text-color: #d8d3c8 !important;
  --zen-main-browser-background: #0b0b0f !important;
  --zen-main-browser-background-toolbar: #0b0b0f !important;
}

#zen-browser-background {
  --zen-main-browser-background: #0b0b0f !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #0b0b0f !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #14141b !important;
}

#zen-workspaces-button {
  background-color: #14141b !important;
}

#TabsToolbar {
  background-color: #0b0b0f !important;
}

.urlbar-background {
  background-color: #14141b !important;
}

.urlbar-input::selection {
  color: #f5f0e8 !important;
  background-color: #a02c3c !important;
}

.urlbarView-url {
  color: #a8a396 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #a02c3c
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #b04352 !important;
  --identity-icon-color: #b04352 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #a02c3c !important;
  --identity-icon-color: #a02c3c !important;
}

.identity-color-green {
  --identity-tab-color: #75c05e !important;
  --identity-icon-color: #75c05e !important;
}

.identity-color-yellow {
  --identity-tab-color: #f0d776 !important;
  --identity-icon-color: #f0d776 !important;
}

.identity-color-orange {
  --identity-tab-color: #c8a828 !important;
  --identity-icon-color: #c8a828 !important;
}

.identity-color-red {
  --identity-tab-color: #d86264 !important;
  --identity-icon-color: #d86264 !important;
}

.identity-color-pink {
  --identity-tab-color: #d06674 !important;
  --identity-icon-color: #d06674 !important;
}

.identity-color-purple {
  --identity-tab-color: #4a000a !important;
  --identity-icon-color: #4a000a !important;
}

#zen-appcontent-navbar-container {
  background-color: #0b0b0f !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #a02c3c !important;
  color: #a02c3c !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #a02c3c !important;
  color: #a02c3c !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #a02c3c !important;
}
